//color variables
$black: #000;
$white: #fff;
$accent-color: #f7941d; //text accent color, used for H1/H2/H3/H4 elements, buttons
$header-background-color: #e6e7e8; //the solid color used for the background of the isi-sticky-footer jump link div or drawer/tray header
$scrollbar-handle-color: #595959; //the color used for the scrollbar handle
$scrollbar-color: #f3f3f3; // the color used for the scrollbar
$drawer-height-collapsed: calc(15vh - 48px);
$drawer-height-expanded: calc(50vh - 48px);
