@import 'fonts';
@import 'variables';
@import 'scrollbar';

.isi-tray {
  background: $white;
  bottom: 0;
  left: 0;
  position: fixed;
  transition: opacity .25s ease;
  width: 100%;
  z-index: 500;

  &.hide-tray {
    opacity: 0;
    pointer-events: none;
  }

  .isi-block {
    position: relative;
  }
}

.isi-header {
  background-color: $header-background-color;
  padding: 10px 15px;
  position: relative;
  @media all and (min-width: 768px) {
    padding: 9px 15px 11px;
  }

  .drawer-title {
    color: $accent-color;
    font: 22px/26px $isi-base-font;
    margin: 0;
    padding-right: 25px;

    p {
      margin-bottom: 0;
    }

    @media all and (min-width: 768px) {
      font-size: 24px;
      line-height: 28px;
      padding-right: 125px;
    }
  }
}

.isi-content-wrap {
  font-size: 16px;
  height: 0;
  line-height: 20px;
  margin: 0 auto;
  max-width: 860px;
  overflow: hidden;
  padding: 0 0 0 15px;
  transition: height .25s ease;
  width: 100%;
  @media all and (min-width: 768px) {
    height: $drawer-height-collapsed;
    min-height: 180px;
    padding: 0 15px;
  }

  h3 {
    color: $accent-color;
    font: 22px/26px $isi-base-font;
    @media all and (min-width: 768px) {
      font-size: 24px;
      line-height: 28px;
    }
  }

  > div {
    width: 100%;
    @media all and (min-width: 768px) {
      height: 180px;
    }
  }

  .isi-scrollable {
    .scroll-content {
      &>div {
        padding: 20px 30px 0 0;

        @media all and (min-width: 768px) {
          padding-right: 20px;
        }
      }
    }
  }
}

.isi-header-wrap {
  margin: 0 auto;
  max-width: 860px;
  position: relative;
  @media all and (min-width: 768px) {
    padding: 0 15px;
  }
}

.isi-btn {
  background: none;
  border: 0;
  color: $accent-color;
  cursor: pointer;
  font: 600 15px/18px sans-serif;
  outline: none;
  position: absolute;
  right: -6px;
  top: 2px;
  @media all and (min-width: 768px) {
    font-size: 18px;
    line-height: 26px;
    padding-right: 0;
    right: 12px;
    top: 1px;
  }

  .isi-btn-icon {
    border: 2px solid $accent-color;
    border-radius: 50%;
    box-sizing: border-box;
    display: inline-block;
    height: 20px;
    margin-left: 15px;
    position: relative;
    right: -4px;
    vertical-align: middle;
    width: 20px;
    @media all and (min-width: 768px) {
      border: 2px solid transparent;
      margin-left: 6px;
      right: 0;
    }

    &::before,
    &::after {
      background-color: $accent-color;
      content: '';
      height: 2px;
      left: 4px;
      position: absolute;
      top: 7px;
      width: 8px;
      @media all and (min-width: 768px) {
        height: 3px;
        top: 7px;
        width: 11px;
      }
    }

    &::after {
      -webkit-transform: rotate(90deg);
      transform: rotate(90deg);
    }
  }

  .close {
    display: none;
  }
}

.js-swap-text {
  display: none;
  @media all and (min-width: 768px) {
    display: inline-block;
    vertical-align: middle;

    &.hide {
      display: none;
    }
  }
}

.isi-drawer-expanded {
  .isi-content-wrap {
    height: $drawer-height-expanded;
    @media all and (min-width: 768px) {
      height: $drawer-height-expanded;
    }
  }

  .isi-content-wrap > div {
    height: 100%;
    @media all and (min-width: 768px) {
      height: 100%;
    }
  }

  .isi-btn {
    .close {
      display: inline;
    }

    .open {
      display: none;
    }
  }

  .isi-btn-icon {
    &::after {
      display: none;
    }
  }
}
