@import 'fonts';
@import 'variables';

.inline-isi-wrapper,
.isi-page {
  h3 {
    color: $accent-color;
    font: 22px/26px $isi-base-font;
    @media all and (min-width: 768px) {
      font-size: 24px;
      line-height: 28px;
    }
  }
}

.isi-inline-inner-wrap {
  margin: 0 auto;
  max-width: 840px;
  padding: 0 15px;
}
