@import 'fonts';
@import 'variables';

.isi-tray {
  background: $white;
  bottom: 0;
  left: 0;
  position: fixed;
  transition: opacity .25s ease;
  width: 100%;
  z-index: 500;

  &.hide-tray {
    opacity: 0;
    pointer-events: none;
  }
}

.isi-header-wrap {
  margin: 0 auto;
  max-width: 840px;
  position: relative;
}

.isi-header {
  background-color: $header-background-color;
  padding: 10px 15px;
  position: relative;
  @media all and (min-width: 768px) {
    padding: 9px 15px 11px;
  }

  .drawer-title {
    margin: 0;
    text-align: center;

    p {
      margin-bottom: 0;
    }

    a {
      color: $accent-color;
      font: 22px/26px $isi-base-font;

      @media all and (min-width: 768px) {
        font-size: 24px;
        line-height: 28px;
      }

      &:hover,
      &:active,
      &:focus {
        border-bottom: 1px solid;
        color: $accent-color;
        text-decoration: none;
      }
    }
  }
}
